.tree {
    height: 100%;
    border-radius: 8px;
    border: 5px solid #222;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: auto;
}

.tree .node {
    font-size: 11px;
    font-weight: bold;
}

.tree .node circle {
    stroke-width: 1.5px;
}

.tree .node.element circle {
    fill: steelblue;
    stroke: #355E95;
}

.tree .node.text circle {
    fill: #50b456;
    stroke: #0d952c;
}

.tree .node.indent circle {
    fill: #ffcc00;
    stroke: orange;
}

.tree .node.comment circle {
    fill: #9a5096;
    stroke: purple;
}

.tree .link {
    fill: none;
    stroke: #ccc;
}